#card-layout {
  border: 1px solid gray;
  margin: 20px 10px;
  background-color: white;
  cursor: pointer;
  box-shadow: 2px 2px 4px gray;
  transition: margin ease 0.5s;
}
#card-layout > img {
  width: 250px;
  height: 200px;
}
#card-layout:hover {
  background-color: #434140;
  color: white;
  box-shadow: 6px 6px 4px #434140;
  margin: 10px;
}
