* {
  box-sizing: border-box;
}
#login-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 600px;
}
#signup-layout {
  display: flex;
  justify-content: space-between;
}
#user-login {
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 240px;
}
#user-signup {
  margin-top: 100px;
  margin-left: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 240px;
}
#login-id,
#login-password,
.signup-input,
.container-input,
.container-name-input {
  width: 400px;
  height: 32px;
  padding: 7px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
#login-id:focus,
#login-password:focus,
.signup-input:focus {
  outline: 1px solid gray;
}
.label {
  font-size: 20px;
}

.submit {
  width: 400px;
  margin-top: 20px;
  padding: 8px;
  font-size: 16px;
  background-color: #f7f563;
  border: 1px solid black;
  border-radius: 3px;
  font-weight: bold;
}
.signup {
  background-color: DeepSkyBlue;
  color: white;
  margin-bottom: 20px;
}
#pirate {
  height: 600px;
}
#sponge {
  height: 300px;
}

@media only screen and (max-width: 1226px) {
  #signup-layout {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #user-signup {
    margin-left: 10px;
    margin-top: 30px;
  }
  #pirate {
    height: 400px;
  }
}
@media only screen and (max-width: 418px) {
  #login-id,
  #login-password,
  .signup-input,
  .submit {
    width: 20rem;
  }
}
@media only screen and (max-width: 336px) {
  #login-id,
  #login-password,
  .signup-input,
  .submit {
    width: 240px;
  }
  #pirate {
    width: 240;
  }
}
